* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d253f;
}

a {
  text-decoration: none;
  color: red;
  transition: 0.5s;
}

a:hover {
  color: rgb(107, 6, 6);
}
